{%- macro link_gerrit_change(change_num, text=change_num) -%}
<a href="https://gerrit.wikimedia.org/r/#/c/{{ change_num }}/" target="_blank">{{ text }}</a>
{%- endmacro -%}
{%- macro link_jenkins_job(job_id, text='Back to Jenkins job') -%}
<a href="https://integration.wikimedia.org/ci/job/operations-puppet-catalog-compiler/{{ job_id }}/" target="_blank">{{ text }}</a>
{%- endmacro -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compilation results for {{ host }}</title>
    <style type="text/css">
      h1, h2, h3, h4 {
         font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
      }
      .source {
          font-family: Consolas, "Andale Mono", "Courier New", monospace
      }
      .err, .error, .fail, .cancelled {
          color: red;
      }
      .noop {
          color: darkgreen;
      }
      .diff, .core_diff {
          color: darkgoldenrod;
      }
    </style>
  </head>
  <body>
    <main role="main">
    {% block body %}
    {% endblock %}
    </main>
    <footer role="contentinfo" class="footer">
        <h3>You can use the <a href="https://wikitech.wikimedia.org/wiki/Help:Puppet-compiler#Catalog_compiler_local_run_(pcc_utility)">pcc utility</a> to re-run this test locally with the following command</h3>
        <pre>./utils/pcc {{ chid }} {{ hosts_raw }}</pre>
        <div id="footer">
          {{ link_jenkins_job(jid) }}
          {{ link_gerrit_change(chid, text='See Gerrit change') }}
        </div>
    </footer>
  </body>
</html>
