<h2>Catalog differences</h2>
<h3>Summary</h3>
<table>
  <tr><th>Total Resources:</th><td>{{ diffs.total }}</td></tr>
  <tr><th>Resources added:</th><td>{{ diffs.only_in_other|length }}</td></tr>
  <tr><th>Resources removed:</th><td>{{ diffs.only_in_self|length }}</td></tr>
  <tr><th>Resources modified:</th><td>{{diffs.resource_diffs|length }}</td></tr>
  <tr><th>Change percentage:</th><td>{{diffs.perc_changed}}</td></tr>
</table>

{% if diffs.only_in_other %}
<h3>Resources only in the new catalog</h3>
<ul>
{% for resource in diffs.only_in_other %}<li>{{ resource }}</li>{% endfor %}
</ul>
{% endif %}
{% if diffs.only_in_self %}
<h3>Resources only in the old catalog</h3>
<ul>
{% for resource in diffs.only_in_self %}<li>{{ resource }}</li>{% endfor %}
</ul>
{% endif %}

{% if diffs.resource_diffs %}
{% if diffs.page_name == 'fulldiff.html' %}
<h3>Full Diff</h3>
{% else %}
<h3>Resources modified</h3>
{% endif %}
<ul>
{% for diff in diffs.resource_diffs %}
  <li>{{ diff.resource}}
    <dl>
{% if diff.parameters %}
      <dd> Parameters differences:
        <pre>{{ diff.parameters.decode('utf-8') }}</pre>
      </dd>
{% endif %}
{% if diff.content %}
      <dd> Content differences:
        <pre>{{ diff.content|e }}</pre>
      </dd>
{% endif %}
    </dl>
  </li>
{% endfor %}
{% endif %}
</ul>
