<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compilation results for {{ host }}</title>
    <style type="text/css">
      h1, h2, h3, h4 {
         font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
      }
      .source {
          font-family: Consolas, "Andale Mono", "Courier New", monospace
      }
      .err .fail {
          color: red;
      }
      .noop {
          color: darkgreen;
      }
      .diff {
          color: darkgoldenrod;
      }
    </style>
  </head>

