{% extends "base.jinja2" %}
{% block body %}
        <h1>Compilation results for {{ host }}: <span class="{{retcode}}">{{ desc }}</span></h1>
        {% if retcode == "diff" and diffs %}
        {% include "diffs.jinja2" %}
        {% endif %}
        <h2>Relevant files</h2>
        <ul>
          <li><a href="{{ mode }}.{{ host }}.pson">{{ pretty_mode }} catalog</a></li>
          <li><a href="change.{{ host  }}.pson">Change catalog</a></li>
          <li><a href="{{ mode }}.{{ host }}.err">{{ pretty_mode }} errors/warnings</a></li>
          <li><a href="change.{{ host }}.err">Change errors/warnings</a></li>
{% if page_name == 'fulldiff.html' %}
          <li><a href="index.html">Standard Diff</a></li>
{% else %}
          <li><a href="fulldiff.html">Full Diff</a></li>
{% endif %}
        </ul>
      {% endblock %}
      {% block extnav %}
        <p>
          <a href="https://integration.wikimedia.org/ci/job/operations-puppet-catalog-compiler/{{ jid }}/" target="_blank">Back to jenkins job</a>
          <a href="https://gerrit.wikimedia.org/r/#/c/{{ chid }}/" target="_blank">See gerrit change</a>
        </p>
      {% endblock %}
    </div>
  </body>
</html>
