{% extends "base.jinja2" %}
{% block body %}
        <h1>Compilation results for {{ host }}: <span class="{{retcode}}">{{ desc }}</span></h1>
        You can retrieve this result from <a href="host.json">host.json</a>.
        {% if retcode.endswith("diff") and diffs %}
        {% include "diffs.jinja2" %}
        {% endif %}
        <h2>Relevant files</h2>
        <ul>
          <li><a href="{{ mode }}.{{ host }}.pson.gz">{{ pretty_mode }} catalog</a></li>
          <li><a href="change.{{ host  }}.pson.gz">Change catalog</a></li>
          <li><a href="{{ mode }}.{{ host }}.err">{{ pretty_mode }} errors/warnings</a></li>
          <li><a href="change.{{ host }}.err">Change errors/warnings</a></li>
{% if page_name == 'fulldiff.html' %}
          <li><a href="corediff.html">Core Diff</a></li>
          <li><a href="index.html">Standard Diff</a></li>
{% elif page_name == 'corediff.html' %}
          <li><a href="index.html">Standard Diff</a></li>
          <li><a href="fulldiff.html">Full Diff</a></li>
{% else %}
          <li><a href="corediff.html">Core Diff</a></li>
          <li><a href="fulldiff.html">Full Diff</a></li>
{% endif %}
        </ul>
      {% endblock %}
      {% block extnav %}
        <p>
          {{ link_jenkins_job(jid) }}
          {{ link_gerrit_change(chid, text='See Gerrit change') }}
        </p>
      {% endblock %}
    </div>
  </body>
</html>
