{% extends "hostpage.jinja2" %}
{% block body %}
  <h1>Results for change <a href="https://gerrit.wikimedia.org/r/#/c/{{ chid }}/" target="_blank">{{ chid }} </a> with the future parser.</h1>
  <div id="list">
    <h2>Hosts were compiled using puppet version {{ puppet_version }}</h2>
    <h2>Hosts that have no differences with the two parsers</h2>
    <ul>
      {% for host in state.ok|sort %}
        <li> <a href="{{ host }}//index-future.html">{{ host }}</a>
      {% endfor %}
    </ul>
    <h2>Hosts that compile with differences</h2>
    <ul>
      {% for host in state.diff|sort %}
        <li> <a href="{{ host }}//index-future.html">{{ host }}</a>
      {% endfor %}
    </ul>
    <h2>Hosts that fail to compile with the future parser</h2>
    <ul>
      {% for host in state.error|sort %}
        <li> <a href="{{ host }}/index-future.html">{{ host }}</a>
      {% endfor %}
    </ul>
    <h2>Hosts that break with the current parser</h2>
    <ul>
      {% for host in state.break|sort %}
        <li> <a href="{{ host }}/index-future.html">{{ host }}</a>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
