{% extends "base.jinja2" %}
{% block body %}
<h1>Results for change {{ link_gerrit_change(chid) }}</h1>
  <div id="list">
    <h2>Hosts were compiled using puppet version {{ puppet_version }}</h2>
    {% if ok_hosts %}
    <h2>Hosts that have no differences (or compile correctly only with the change)</h2>
    <ul>
      {% for host in ok_hosts|sort %}
        <li> <a href="{{ host }}/{{ page_name }}">{{ host }}</a>
      {% endfor %}
    </ul>
    {% else %}
    <h2>All hosts have differences (or fail compiling only with the change)</h2>
    {% endif %}

    {% if cancelled_hosts %}
    <h2>Hosts that were skipped (fail fast)</h2>
    <ul>
      {% for host in cancelled_hosts|sort %}
        <li> {{ host }}
      {% endfor %}
    </ul>
    {% endif %}

    {% if state.core_diff %}
    <h2>Hosts that compile with differences to core resources</h2>
	<h3>(changes to the system)</h3>
    <ul>
      {% for host in state.core_diff|sort %}
        <li> <a href="{{ host }}/{{ page_name }}">{{ host }}</a>
      {% endfor %}
    </ul>
    {% else %}
    <h2>No hosts compile with differences to core resources</h2>
	<h3>(changes to the system)</h3>
    {% endif %}

    {% if state.diff %}
    <h2>Hosts that compile with differences to puppet defined resources</h2>
	<h3>(only changing class parameters and similar, but no changes to the system)</h3>
    <ul>
      {% for host in state.diff|sort %}
        <li> <a href="{{ host }}/{{ page_name }}">{{ host }}</a>
      {% endfor %}
    </ul>
    {% else %}
    <h2>No hosts compile with differences to puppet defined resource</h2>
	<h3>(only changing class parameters and similar, but no changes to the system)</h3>
    {% endif %}

    {% if state.error %}
    <h2>Hosts that fail to compile {{ msg.change }}</h2>
    <ul>
      {% for host in state.error|sort %}
        <li> <a href="{{ host }}/{{ page_name }}">{{ host }}</a>
      {% endfor %}
    </ul>
    {% else %}
    <h2>All hosts compile {{ msg.change }}</h2>
    {% endif %}

    {% if fail_hosts %}
    <h2>Hosts that {{ msg.fail }}</h2>
    <ul>
      {% for host in fail_hosts|sort %}
        <li> <a href="{{ host }}/{{ page_name }}">{{ host }}</a>
      {% endfor %}
    </ul>
    {% else %}

    <h2>No hosts that {{ msg.fail }}</h2>
    {% endif %}
    {% if unfinished_hosts %}
    <h2>Hosts that are still running</h2>
    <ul>
      {% for host in unfinished_hosts|sort %}
        <li> {{ host }}</a>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}
